#loungeFinder.loungeFinder-container1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 117.4rem;
    overflow: visible;
    background-color: blue;
    .loungeFinder-text1 {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 600;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        align-self: center;
        color: rgba(255, 255, 255, 1);
        //background-color: red;
    }
    .loungeFinder-text2 {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 600;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        align-self: center;
        color: rgba(255, 255, 255, 1);
        //background-color: red;
    }
    .loungeFinder-container2 {
        width: 2.4rem;
        height: 2.4rem;
        align-self: center;
        margin-left: 0.4rem;
        margin-top: -0.5rem;
        .loungeFinder-container3 {

            .loungeFinder-container4 {

            }

            .loungeFinder-container5 {

                .loungeFinder-container6 {

                }

                .loungeFinder-container7 {

                    .loungeFinder-text3 {

                    }

                    .loungeFinder-container8 {

                        .loungeFinder-text4 {

                        }

                    }

                }

            }

            .loungeFinder-container9 {

            }

        }
    }
}
