#testimonials.testimonials-container1 {
    display: flex;
    flex-direction: row;
    overflow: visible;
    width: 100%;
    min-height: 120.2rem;
    background-color: aqua;
    .testimonials-text1 {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 600;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        align-self: center;
        color: rgba(255, 255, 255, 1);
        //background-color: red;
    }
    .testimonials-container2 {
        width: 2.4rem;
        height: 2.4rem;
        align-self: center;
        margin-left: 0.4rem;
        margin-top: -0.5rem;
    }
}
