#gradientBorderView.gradientBorderView-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .gradientBorderView-container2 {
    }
}
