@import '/src/scss/breakpoints';

@font-face {
    font-family: 'PPCirka';
    src: url('./resources/fonts/pp-crika/PPCirka-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PPCirka';
    src: url('./resources/fonts/pp-crika/PPCirka-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PPCirkaVariable';
    src: url('./resources/fonts/pp-crika/PPCirka-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'PPCirkaVariable', sans-serif;
    font-size: 8px;
    @include breakpoint-xxxs {
        font-size: 2px;
    }
    @include breakpoint-xxs {
        font-size: 2.2px;
    }
    @include breakpoint-xs {
        font-size: 2.4px;
    }
    @include breakpoint-sm {
        font-size: 2.8px;
    }
    @include breakpoint-md {
        font-size: 4.8px;
    }
    @include breakpoint-lg {
        font-size: 5.95px;
    }
    @include breakpoint-xl {
        font-size: 7.49px;
    }
    @include breakpoint-ul {
        font-size: 7.9px;
    }
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: #000000 transparent;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-width: 100%;
    min-height: 100vh;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    
    user-select: none; /* Prevent text/image selection in most browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE/Edge */
     
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}
